/* features section */

.features{
    background: url(../images/seo3-sectionbg1.png);
    background-repeat: no-repeat;
    background-position: center;
}
.features__container{
    padding: 110px 0 40px;
}

.features .section__description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.features .section__heading{
    padding: 2px 15px;
    border-radius: 15px;
    color: var(--color-yellow-main);
    font-size: 1.3rem;
    line-height: 150%;
    font-weight: 700;
    background-color: var( --color-yellow-light-background);
    text-align: center;
    margin-bottom: 30px;
}

.features .section__title{
    font-size: 3.2rem;
    line-height: 100%;
    font-weight: 700;
    color: var(--color-purple-dark-title);
    text-align: center;
    margin-bottom: 30px;
    width: 65%;
}

.features .section__text{
    color: var(--color-text-black-main);
    font-size: 1.3rem;
    line-height:150% ;
    font-weight: 400;
    text-align: center;
    margin-bottom: 15px;
    width: 75%;
    max-width: 384px;
}

.features .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.features .card__image{
    margin-bottom: 20px;
}

.features .card__title{
    color: var(--color-purple-dark-title);
    font-size: 1.4rem;
    line-height: 150%;
    font-weight: 700;
    text-align: center;
    margin-bottom: 25px;
}

.features .card__text{
    color: var(--color-text-black-main);
    font-size: 1.3rem;
    line-height:150% ;
    font-weight: 400;
    text-align: center;
    margin-bottom: 15px;
    width: 75%;
}

/* about us section */

.about-us{
    background: url(../images/seo3-sectionbg2.png);
    background-repeat: no-repeat;
    background-position: center;
}

.about-us__container{
    width: 100%;
    padding: 110px 33px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.about-us__image{
    width: 100%;
    margin-bottom: 20px;
    max-width: 480px;
}

.about-us .section__description{
    /* change */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    width: 100%;
}

.about-us .section__heading{
    padding: 2px 15px;
    border-radius: 15px;
    color: var(--color-yellow-main);
    font-size: 1.3rem;
    line-height: 150%;
    font-weight: 700;
    background-color: var( --color-yellow-light-background);
    text-align: center;
    margin-bottom: 30px;
}

.about-us .section__title{
    font-size: 3.2rem;
    line-height: 100%;
    font-weight: 700;
    color: var(--color-purple-dark-title);
    text-align: center;
    margin-bottom: 30px;
}

.about-us .section__text{
    color: var(--color-text-black-main);
    font-size: 1.3rem;
    line-height:150% ;
    font-weight: 400;
    text-align: center;
    margin-bottom: 15px;
    max-width: 384px;
}

.btn{
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn a{
    text-decoration: none;
    color: white;
    background-color: var(--color-purple-main);
    padding: 10px 35px;
    border-radius: 50px;
    font-size: 1.3rem;
    line-height: 150%;
    font-weight: 400;
    display: block;
}

.btn a:hover{
    background-color: #7561E3;
    transition: opacity .2s ease-in-out;
}

.banner-stats{
    background-color: var(--color-purple-very-dark-background);
    border-radius: 25px;
    box-shadow: var(--box-shadow-dark);
    padding: 40px 40px 0;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.banner-stats--number{
    font-size: 6rem;
    line-height: 100%;
    color: white;
    text-align: center;
}

.banner-stats--text{
    font-size: 1.8rem;
    line-height: 150%;
    color: var(--color-yellow-main);
    font-weight: 400;
    text-align: center;
    margin-bottom: 35px;
}

.k{
    font-size: 4.2rem;
}


@media only screen and (min-width: 768px) {
    /* features section */
    .features__container{
        max-width: 708px;
        margin: auto;
    }

    .features .section__description{
        margin-bottom: 70px;
    }

    .features .section__title{
        font-size: 4.6rem;
    }

    .features .section__text{
        font-size: 1.5rem;
        max-width: 736px;
    }

    .features .card__title{
        font-size: 2rem;
    }   
    
    .features .card__image{
        margin-bottom: 40px;
    }

    .features .card__text{
        font-size: 1.4rem;
        width: 100%;
    }

    .features .cards{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .features .card{
        width: 33%;
        padding: 0 20px;
    }

    /* about us section */
    .about-us__container{
        max-width: 750px;
        margin: 0 auto;
        padding-left: 0;
        padding-right: 0;
    }
    
    .about-us1{
        display: flex;
    }
    
    .about-us__image{
        width: 50%;
        height: 50%;
        /* change */
        max-width: 400px;
        max-height: 400px; 
    }

    .about-us .section__description{
        align-items: start;
        width: 50%;
        padding-left: 50px;
    }
    
    .about-us .section__title{
        font-size: 4.6rem;
        text-align: start;
    }
    
    .about-us .section__text{
        font-size: 1.4rem;
        text-align: start;
        max-width: 384px;
    }
    
    .btn{
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .btn a{
        font-size: 1.4rem;
    }
    
    .banner-stats{
        max-width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .banner-stats--number{
        font-size: 8rem;

    }

    .banner-stats>div{
        padding: 0 6.5px; 
    }
    
    .banner-stats--text{
        font-size: 1.8rem;
    }

    .k{
        font-size: 5.6rem;
    }
}


@media only screen and (min-width: 1024px) {
    /* features section */
    .features__container{
        max-width: 980px;
    }

    .features .section__heading{
        font-size: 1.4rem;
    }

    .features .section__title{
        font-size: 5.4rem;
    }

    .features .section__text{
        font-size: 1.8rem;
        max-width: 736px;
    }

    .features .card__title{
        font-size: 2.4rem;
    }   
    
    .features .card__image{
        margin-bottom: 40px;
    }

    .features .card__text{
        font-size: 1.6rem;
        width: 100%;
    }

    /* about us section */
    .about-us__container{
        max-width: 980px;
        padding-left: 0;
        padding-right: 0;
    }
    
    .about-us1{
        display: flex;
    }

    .about-us .section__heading{
        font-size: 1.4rem;
    }
    
    .about-us__image{
        /* change */
        max-width: 460px;
        max-height: 460px;
    }

    .about-us .section__description{
        margin-bottom: 50px;
        width: 50%;
        padding-left: 65px;
    }
    
    .about-us .section__title{
        font-size: 5.4rem;
    }
    
    .about-us .section__text{
        font-size: 1.6rem;
        max-width: 396px;
    }
    
    .btn a{
        font-size: 1.6rem;
    }
    
    .banner-stats--number{
        font-size: 6rem;
    }

    .banner-stats>div{
        padding: 0 8.5px; 
    }

    .k{
        font-size: 4.2rem;
    }
}



@media only screen and (min-width: 1440px) {
    /* features section */
    .features__container{
        max-width: 1060px;
    }

    /* about us section */
    .about-us__container{
        max-width: 1060px;
    }

    .about-us__image{
        /* change */
        max-width: 520px;
        max-height: 520px;
    }

    .about-us .section__text{
        max-width: 446px;
    }
}    